<a href="https://colab.research.google.com/github/NustinJewman/PythonFFB/blob/main/Data_Munging_with_Pandas_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
pd.__version__

df = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/74b84c5fb2371b954b52b4f67ae5220930d57861/fantasypros/fp_projections.csv')
df.head()

,Unnamed: 0,Player,Team,Pos,Receptions,ReceivingYds,ReceivingTD,FL,RushingAtt,RushingYds,...,FieldGoalsAttempted,ExtraPointsMade,TotalSacks,TotalInt,FumblesRecovered,FumblesForced,DefensiveTDs,SafetysForced,PointsAllowed,FantasyPoints
0,0,Lamar Jackson,BAL,QB,0.0,0.0,0.0,2.4,160.8,967.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,361.1
1,1,Patrick Mahomes,KC,QB,0.0,0.0,0.0,1.2,55.6,302.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,345.1
2,2,Dak Prescott,DAL,QB,0.0,0.0,0.0,2.3,64.4,261.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,318.5
3,3,Deshaun Watson,HOU,QB,0.0,0.0,0.0,1.8,92.9,491.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,312.7
4,4,Russell Wilson,SEA,QB,0.0,0.0,0.0,1.6,72.1,373.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,308.5

In [ ]:
df[:2
   ]

In [ ]:
df = df.iloc[:, 1:]
df.head()
df.columns

', '.join(df.columns)

In [ ]:
df.columns

In [22]:

scoring_weights = {
    'receptions': 1, # PPR
    'receiving_yds': 0.1,
    'receiving_td': 6,
    'FL': -2, #fumbles lost
    'rushing_yds': 0.1,
    'rushing_td': 6,
    'passing_yds': 0.04,
    'passing_td': 4,
    'int': -2
}

In [23]:
df['FantasyPoints'] = (
    df['Receptions']*scoring_weights['receptions'] + df['ReceivingYds']*scoring_weights['receiving_yds'] + df['ReceivingTD']*scoring_weights['receiving_td'] + df['FL']*scoring_weights['FL'] + 
    df['RushingTD']*scoring_weights['rushing_td'] + df['RushingYds']*scoring_weights['rushing_yds'] + df['PassingYds']*scoring_weights['passing_yds'] + df['PassingTD']*scoring_weights['passing_td'] +
    df['Int']*scoring_weights['int']
)

In [ ]:
rb_df = df.loc[df['Pos'] == 'WR']
rb_df.head()
df.sort_values(by='ReceivingYds', ascending=False).head(10)

In [ ]:
df.sort_values(by='RushingYds', ascending=False)['Player']

In [ ]:
import seaborn as sns
sns.set_style('whitegrid')
sns.distplot(rb_df['RushingAtt']);

In [42]:
import pandas as pd

In [50]:
adp_df = pd.read_csv('https://raw.githubusercontent.com/fantasydatapros/data/master/fantasypros/adp/PPR_ADP.csv', index_col=0)